.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid red;
  border-radius: 5px;
}
ul > li {
  list-style: none;
  padding: 0.1rem;
  margin: 0.1rem;
}

input {
  border-radius: 5px;
  width: 20rem;
}
::placeholder {
  background-color: aquamarine;
}
